---
# handlers file for redis

- name: Update Grub
  ansible.builtin.command: update-grub
  become: true
  notify: Reboot

- name: Reboot
  reboot:
    msg: "Reboot initiated by Ansible Handler"
    connect_timeout: 5
    reboot_timeout: 300
    pre_reboot_delay: 0
    post_reboot_delay: 30
    test_command: uptime
  become: true
  when: redis_reboot_enabled
